section.section.section-lg.bg-default
	.container
		.row
			.col-md-10.col-xl-8
				h2 Kind words from my happy clients
				p My clients appreciate the provided guidance and assistance I offer along the way to help them become stronger leaders and unlock the full potential of their businesses. Read their latest testimonials below.
		.owl-carousel.owl-style-minimal(
			data-items='1',
			data-sm-items='2',
			data-lg-items='3',
			data-margin='40',
			data-dots='true'
		)
			+quote-primary({
				text: 'The coaching has been really rewarding. I have learned how to communicate clearly with my team and to reflect on my leadership skills.',
				img: 'person-01-64x64',
				cite: 'Courtney Johnson',
				caption: '28.10.2023'
			})
			+quote-primary({
				text: 'I have worked with John for almost a year, and during this time I’ve learned how to be realistic about my work.',
				img: 'person-02-64x64',
				cite: 'Jenny Wilson',
				caption: '28.10.2023'
			})
			+quote-primary({
				text: 'Working with Mr. Adams has enabled me to shape and implement a set of personal objectives that have materially improved my performance as a leader.',
				img: 'person-03-64x64',
				cite: 'Andrew Jackson',
				caption: '28.10.2023'
			})
			+quote-primary({
				text: 'The coaching has been really rewarding. I have learned how to communicate clearly with my team and to reflect on my leadership skills.',
				img: 'person-01-64x64',
				cite: 'Courtney Johnson',
				caption: '28.10.2023'
			})
			+quote-primary({
				text: 'I have worked with John for almost a year, and during this time I’ve learned how to be realistic about my work.',
				img: 'person-02-64x64',
				cite: 'Jenny Wilson',
				caption: '28.10.2023'
			})
			+quote-primary({
				text: 'Working with Mr. Adams has enabled me to shape and implement a set of personal objectives that have materially improved my performance as a leader.',
				img: 'person-03-64x64',
				cite: 'Andrew Jackson',
				caption: '28.10.2023'
			})
